.banner{
    display: flex;
    background-image: url(../assets/banner.png);
    background-size: cover;
    background-position: center;
    position: static;
    width: 100%;
}

.texto{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 50px;
}

.banner-titulo{
    font-weight: 700;
    font-size: 52px;
    color: #FFFFFF;
}

.banner-descripcion{
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin: 15px 0 15px 0;
}

.banner-boton{
    text-decoration: none;
    width: 11vw;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    background: #2A7AE4;
    text-align: center;
    padding: 13px 0;
}

@media screen and (max-width: 768px){

    .banner-titulo{
        font-size: 22px;
    }

    .banner-descripcion{
        font-size: 15px;
        margin: 10px 0 10px 0;
    }

    .banner-boton{
        font-size: 14px;
        width: 26vw;
    }

}

