.detalle-productos{
    background: #F5F5F5;
    padding-top: 50px;
}

.detalle-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.detalle-producto-imagen{
    width: 48%;
    height: 60vh;
}

.detalle-producto-texto{
    width: 50%;
}

.detalle-producto-nombre{
    font-weight: 500;
    font-size: 52px;
    color: #464646;
}

.detalle-producto-precio{
    font-weight: 700;
    font-size: 16px;
    color: #464646;
    margin: 10px 0;
}

.detalle-producto-descripcion{
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

@media screen and (max-width: 768px){

    .detalle-productos{
        padding-top: 0;
    }

    .detalle-producto{
        flex-direction: column;
    }

    .detalle-producto-imagen{
        width: 100vw;
        height: 40vh;
    }

    .detalle-producto-texto{
        width: 100%;
        margin-top: 10px;
    }

    .detalle-producto-nombre{
        font-size: 22px;
    }

    .detalle-producto-descripcion{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .detalle-producto-imagen{
        width: 38%;
        height: 40vh;
    }
    
    .detalle-producto-texto{
        width: 60%;
    }

    .detalle-producto-nombre{
        font-size: 22px;
    }

    .detalle-producto-descripcion{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
}