.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    height: 13vh;
    background: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}

@media screen and (max-width: 768px){

    .footer{
        font-size: 14px;
        height: 9vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .footer{
        height: 13vh;
    }

}